<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="edit">
      <h2>Edit:</h2>


    <form class="" action="/snippet/{{edit._id}}" method="post">
      <div class="">
        <label for="">Title</label>
        <input type="text" name="title" value="{{edit.title}}">
      </div>
      <div class="">
        <label for="">Snippet</label>
        <textarea name="snippet" cols="50" rows="10" value="">{{edit.snippet}}</textarea>
      </div>
      <div class="">
        <label for="">Notes</label>
        <input type="textarea" name="notes" value="{{edit.notes}}">
      </div>
      <div class="">
        <label for="">Language</label>
        <select class="" name="language">
          <option value="HTML">HTML</option>
          <option value="CSS">CSS</option>
          <option value="Javascript">Javascript</option>
        </select>
      </div>
      <div class="">
        <label for="">Tags</label>
        <input type="text" name="tags" value="{{edit.tags}}">
      </div>
      <button type="submit" name="button">Submit</button>
    </form>

    </div>
  </body>
</html>
