<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>

    <h1>welcome.mustache</h1>
    <div class="">
      <a href="/login">Log In</a>
    </div>

    <div class="">
      <a href="/register">Register</a>
    </div>

  </body>
</html>
