<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>

    <div class="registerHref">
    <h1>login</h1>
      <a class="register" href="/register">Register</a>
    </div>
    <form class="" action="/login" method="post">
      <div class="">
        <label for="">Username</label>
        <input type="text" name="username" value="">
      </div>
      <div class="password">
        <label for="">Password</label>
        <input type="password" name="password" value="">
      </div>
      <div class="submitBtn">
        <button type="submit" name="button">Submit</button>
      </div>
    </form>


  </body>
</html>
